@model ToDo.Models.ListToDosResult;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@* Indexed

@Model.UserName
 *@

<head>
    <meta charset="utf-8">
    <title>ToDo</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>



<body onload="setUser('@Model.GetUserRequest.Email')">


    <input type="hidden" id="myuser" value="" />

    <div class="row">

        <div class="col-md-4 pb-4"></div>

        <div class="col-md-4 pb-4">
            <div class="card">
                <div class="card-body">
                    <center>
                        <p class="card-text">Please click here to go back</p>
                        @* <a onclick="goBackToMain('@Model.GetUserRequest.Email', '@Model.GetUserRequest.Password', @Model.GetUserRequest.UserID)" class="btn btn-secondary">Go back</a> *@
                        <a onclick="goBackToPrev('@Model.GetUserRequest.Email', '@Model.GetUserRequest.Password', @Model.GetUserRequest.UserID)" class="btn btn-secondary">Go back</a>
                    </center>
                </div>
            </div>
        </div>

        <div class="col-md-4 pb-4"></div>
    </div>

    <div class="card pb-4">
        <div class="card-header">
            <center>Connection @Model.GetUserRequest.TaskEmail Tasks</center>
        </div>
        <div class="row pt-4">

            @foreach (var task in Model.ListTodosResult)
            {
                <div class="col-md-4 pb-4 pl-3">
                    <div class="card">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">@task.ToDoTitle</h5>
                                <p class="card-text">@task._ToDo @task.DateEntered</p>
                                <a href="#" onclick="commentTaskNew('@Model.GetUserRequest.Email', '@task._ToDo', '@task.ToDoTitle', '@Model.GetUserRequest.Password', @task.todoID, '@Model.GetUserRequest.UserID', '@Model.GetUserRequest.TasksView', '@Model.GetUserRequest.ConnectionID', '@Model.GetUserRequest.TaskEmail')">
                                    <p>
                                        <u>@task.CommentsCount Comments</u>
                                    </p>
                                </a>
                                <!--  <a id="commenttask" onclick="commentTaskNew('@Model.GetUserRequest.Email', '@task._ToDo', '@task.ToDoTitle', '@Model.GetUserRequest.Password', @task.todoID, '@Model.GetUserRequest.UserID', '@Model.GetUserRequest.TasksView', '@Model.GetUserRequest.ConnectionID', '@Model.GetUserRequest.TaskEmail')" class="btn btn-primary">Comment</a> -->
                            </center>
                        </div>
                    </div>
                </div>
                @* 
                    <div class="col-md-4 pb-4">
                        <div class="card">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">@task._ToDo</p>
                                    <a id="edittask" onclick="editTask('@Model.GetUserRequest.Email')" class="btn btn-primary">Edit</a>
                                    <a id="commenttask" onclick="commentTask('@Model.GetUserRequest.Email')" class="btn btn-primary">Comment</a>
                                    <a id="deletetask" onclick="deleteTask('@Model.GetUserRequest.Email')" class="btn btn-danger">Delete</a>
                                </center>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pb-4 pr-3">
                        <div class="card">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">@task._ToDo</p>

                                    <a id="edittask" onclick="editTask('@Model.GetUserRequest.Email', '@Model.GetUserRequest.Password')" class="btn btn-primary">Edit</a>
                                    <a id="commenttask" onclick="commentTask('@Model.GetUserRequest.Email', '@Model.GetUserRequest.Password')" class="btn btn-primary">Comment</a>
                                    <a id="deletetask" onclick="deleteTask('@Model.GetUserRequest.Email', '@Model.GetUserRequest.Password')" class="btn btn-danger">Delete</a>
                                </center>
                            </div>
                        </div>
                    </div> *@               
                }
        </div>
    </div>

    <div class="mb-3">
        <br />
        <br />
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

<script src="./js/index.js"></script>